<section id="login-container">

    <div class="img-login">
        <img src="https://previews.dropbox.com/p/thumb/ACFf5YAvZDEuDEiyOpsPO8ej2OOSQs9vaqwy-LGCL5zxoKmep9VjQ1E6p9IvVcAC6HyEfWBQPg0X5xWvYvnH1mY5fiKzIfeCV2zGBDN1Y2LsMWHepdpzQArjZmY0L_UA759LwDFZY4wsyc7O8xp3bUuBwkfTRlXwMbHbavennW3oRRGztF1Lic0jjcjsHHYrIAyesfUM8ZIfN_lsQsGRuEOoasICG_GaEN3v1HQaFNR-eZ-vv8relQNOgVjoQfyH7b2LlkmGnu_-7l8MA3HTdpofuDcEESKnPh7r_nWzQ1b8lGRmyVvj-MoA8qnicqAaa9-Cp-Xexk6QV9-VMkEjBzIg/p.jpeg" alt="Login image" class="bankunicomer">
    </div>


    <div class="login">

        <div class="logo">
            <img class="img-fluid" src="https://previews.dropbox.com/p/thumb/ACEZpMql9gI-Lfghs4_DuqWYjbavVHdxixPZCZcRz_uPUZ9EXTKxaSefCuQ7olbyzQANesiKSdJ4Y53cJmqGwO3LbFkHSsq9mek2ZPpFvrHoC8wDrjwYUoDA4gRqJDsoM6HrFBkyqX623eWWHb4vEsLlW-2AXbzdnDXMjHtcjttf7K0dVOowAKGVMzxkCUZJSFCZMk9e-8GUHXFEFIh7RYdrpcQqeCDDwl-Cps404zCcmWeK9MAz-IPxswErJt6anGmTcuhkhgy3VuVGjHO_zkRuumTMRhuefAjmnzZi5kce4Yb9H8MlrNl7urhvR5fMdf24ocqs1nZmxgkst9gieo_Q/p.png">
        </div>
        <div class="bienvenida">
            <img class="img-fluid" src="https://previews.dropbox.com/p/thumb/ACH2BFn7SYbXoD2HBg-1E8ArNfqyOoTHpp7gghHQ4S97o4X73LoEC00BkqCUqMnFz6wIk_kUmnmgDRn_aFCiVG2VHY4_Z-pG6PrNpHDc71vRcgKEqm2XRBPWkhZoDrawyr4XFsZ0uinkaq8o3ch0BgJVuAGSxNpGuXC03aaDpBN7gsMjo_7pJFcc1FnBsihF4M9v9nxcK0Wq9CvJs91MMQYkB1bE65puL6w47BsDi3vvG-ng8hbxJRhf8GqqyjTVJDDWX_uActL3XZgB_-j5auXQMT-NICb5nw43KGF9V9vT2URlQ06HtwpdtNvvf4Dn1qwBY8aG3MwSi0jXNgaCVew_/p.png" alt="unicomer">
        </div>

        <form class="loginForm" [formGroup]="myGroup">

            <div class="form-fill mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="text" class="form-control" formControlName="email" #email required>
              </div>

            <div class="form-fill mb-3">
                <label for="exampleInputPassword1" class="form-label">Clave</label>
                <input type="text" class="form-control" id="exampleInputPassword1" formControlName="clave" #password required>
                <div id="passwordHelp" class="form-text">Nunca compartas tu clave con nadie.</div>
              </div>

            <button type="click" (click)="logIn(email.value, password.value)" class="btn" id="login">Ingresar</button>

        </form>

        <p>¿No tienes cuenta? <a routerLink="/register" class="link-register">Registrate aquí.</a></p>

    </div>

</section>