<ul class="list">
    <li class="list-item" (click)="logOut()">
        <img src="https://previews.dropbox.com/p/thumb/ACFYLhPrwkdJjaj8Ffcf7eklkFPy7Fcnvauq5OoIcQox80vM7Yuc-B2tKzavmCCvz8eak1Dal-McJzwrrBNYAbosGXCD84MU3dzxCpgodfNj9PUjxgk4c577xAXCUgiBn884q1Qbi8dSTPKVMCK0Fh5RY9EO90gOqMOz3m8kcnGzsL-hSBr3ilzkYGUpKPECrPEtpc0x8qEBetMUs_ifgcW3NtU9R3C0TVLV8l0Da8YmJ0dHhL0rzhq71iK-FXwvPX5jzOagxSnYav0qYNL7EXz7i2ZqTedfa9AGFAxMyyEPCTVsXFXMhQqX9AQOt7aeI9ML60Iws77kdsQkAuwQ59gA/p.png" alt="logout">
        Cerrar sesión
    </li>
    </ul>