<ul class="list">
    <li class="list-item">
        <img src="https://previews.dropbox.com/p/thumb/ACGAe9wIAglMB9cVX55YfcnKdzCiYi6nbHHKWVuL9mtZo6mU3M-eGks8kFCxrpdMoTrgcKdBGnQ4dJHXHQQMnla9XGYowZ5lJcB9h59_PidPqPvOrgxTadP5C3UJ2y_xWV7AvWihcdMALHFqSdVSzBRyDs8BdUuonSEZHMKJWL6sZgWGhvZdrjpR_ABLNIgin6Oj8kDvT6RHm7rZ_gUgY3yuZMe1QmQDl3kD0BwxCGNFyRqIciuT7fccr4mR6epZVANH6ZLgdnwMyhg24F_u6kpjorDwTd8xO31N-JMIvxrTkj7xdrHaZdBCYuPkMQCWXskLIwi9g7n1MZwaN-PzWnKm/p.png" alt="logout">
        Cerrar sesión
    </li>
    </ul>